# 增加source列

In [29]:
import numpy as np
import pandas as pd
import re
df = pd.read_csv(r'F:\CollegeTime_PKU\python\p\project\爬虫及数据\rent_合并.csv', 
                 header= 0,names =['title','location','price','url'])

In [30]:
df[2996:2999]

,title,location,price,url
2996,天通苑 天通苑东二区 5室 次卧朝南,天通苑东二区,2090,http://bj.58.com/pinpaigongyu/26807340111802x....
2997,花乡 德鑫家园 3室 主卧朝南,德鑫家园,2150,http://bj.58.com/pinpaigongyu/26652449700403x....
2998,望京 望京新城 4室 主卧朝南,望京新城,3190,http://bj.58.com/pinpaigongyu/26629210922300x....

In [31]:
df['source'] = 0

In [32]:
df.loc[0,'source'] = 'lj'

In [33]:
df.loc[0:5]

,title,location,price,url,source
0,木樨园 整租·南三环中路69号 1室1厅 南,南三环中路69号,4000,https://bj.lianjia.com/zufang/BJ23556994338301...,lj
1,芍药居 整租·芍药居北里 2室1厅 东,芍药居北里,6000,https://bj.lianjia.com/zufang/BJ23556927120463...,0
2,定慧寺 整租·恩济庄82号院 1室0厅 北,恩济庄82号院,3500,https://bj.lianjia.com/zufang/BJ23556403944457...,0
3,通州北苑 整租·长城国际 1室0厅 西,长城国际,3600,https://bj.lianjia.com/zufang/BJ23555436027274...,0
4,通州北苑 整租·长城国际 2室1厅 东,长城国际,3600,https://bj.lianjia.com/zufang/BJ23555381849953...,0
5,宋家庄 整租·横三条15号 1室1厅 南,横三条15号,3200,https://bj.lianjia.com/zufang/BJ23563991061480...,0

In [36]:
df.loc[2996:2997]

,title,location,price,url,source
2996,天通苑 天通苑东二区 5室 次卧朝南,天通苑东二区,2090,http://bj.58.com/pinpaigongyu/26807340111802x....,0
2997,花乡 德鑫家园 3室 主卧朝南,德鑫家园,2150,http://bj.58.com/pinpaigongyu/26652449700403x....,0

In [37]:
df.loc[0]

title                          木樨园 整租·南三环中路69号 1室1厅 南
location                                             南三环中路69号
price                                                    4000
url         https://bj.lianjia.com/zufang/BJ23556994338301...
source                                                     lj
Name: 0, dtype: object

In [42]:
for i in range(0,2996):
    df.loc[i,'source'] = 'lj'

In [43]:
df.loc[2996:2998]

,title,location,price,url,source
2996,天通苑 天通苑东二区 5室 次卧朝南,天通苑东二区,2090,http://bj.58.com/pinpaigongyu/26807340111802x....,lj
2997,花乡 德鑫家园 3室 主卧朝南,德鑫家园,2150,http://bj.58.com/pinpaigongyu/26652449700403x....,0
2998,望京 望京新城 4室 主卧朝南,望京新城,3190,http://bj.58.com/pinpaigongyu/26629210922300x....,0

In [44]:
for j in range(2996,len(df)):
    df.loc[j,'source'] = '58'

In [45]:
df.loc[2996:2998]

,title,location,price,url,source
2996,天通苑 天通苑东二区 5室 次卧朝南,天通苑东二区,2090,http://bj.58.com/pinpaigongyu/26807340111802x....,58
2997,花乡 德鑫家园 3室 主卧朝南,德鑫家园,2150,http://bj.58.com/pinpaigongyu/26652449700403x....,58
2998,望京 望京新城 4室 主卧朝南,望京新城,3190,http://bj.58.com/pinpaigongyu/26629210922300x....,58

In [50]:
df.to_csv('rent_source.csv',index = 0)